:root {
  --bg-color-dark-purple: #000028;
  --bg-color-dark-gray: #2a2927;
  --color-light-blue: #00f7c2;
  --color-light-blue-2: #00ffb9;
  --color-light-blue-3: #00e6dc;
  --color-light-blue-4: #0cc;
  --color-gray: #666666;
  --color-text-white: #fff;
  --color-text-blue: #42a4e3;
  --color-soft-white: #ffffff50;
  --color-white: #ffffff;
  --overlay-color: #000000a6;
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 900;
  --font-logo: "Roboto", serif;
}

header {
  width: 100%;
  background-color: var(--bg-color-dark-purple);
}

section {
  width: 100%;
}

.container {
  width: 1280px;
  padding: 30px;
  margin: 0 auto;
  position: relative;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-select {
  margin-left: auto;
}

.language,
.language-select {
  margin-left: auto;
  font-family: var(--font-logo);
  font-size: 20px;
  font-weight: var(--font-medium);
  color: var(--color-text-white);
}

.language.language-active {
  color: var(--color-light-blue-4);
}

.logo__tagline {
  font-family: var(--font-logo);
  font-size: 34px;
  font-weight: var(--font-bold);
  color: var(--color-text-white);
  padding-left: 5px;
}


.login-block {
  cursor: pointer;
  margin-left: 20px;
}

.login-block__link {
  display: flex;
  align-items: center;
}

.login-block__link-icon {
  width: 18px;
  height: 18px;
}
.login-block__link-text {
  font-family: var(--font-logo);
  font-size: 20px;
  font-weight: var(--font-medium);
  color: var(--color-text-white);
  margin-left: 5px;
}

.menu-burger {
  display: none;
}

.nav__menu {
  display: flex;
  gap: 10px;
}

.menu-item {
  position: relative;
  padding: 5px;
  overflow: hidden;
}

.menu-item::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-light-blue-2);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
}


.menu-item__link {
  font-family: var(--font-logo);
  font-size: 20px;
  font-weight: var(--font-medium);
  color: var(--color-text-white);
}

.menu-item:hover > .menu-item__link {
  color: var(--color-light-blue-2);
}

.menu-item:hover.menu-item::after {
  transform: translateX(0);
}
/** TOP DESCRIPTION */

.top-description__wrapper {
  width: 100%;
  background-color: var(--bg-color-dark-purple);
}

.top-description__container {
  display: flex;
  justify-content: space-between;
}

.top-description {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin-top: 163px;
}

.title-block {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 44px;
}
.title-block__vertical-bar {
  display: block;
  width: 6px;
  height: 44px;
  background: linear-gradient(180deg, var(--color-light-blue-2), var(--color-light-blue-3));
}

.title-block__title {
  font-family: var(--font-logo);
  font-size: 44px;
  color: var(--color-text-white);
  font-weight: var(--font-medium);
  line-height: 55px;
}

.top-description__text {
  font-family: var(--font-logo);
  font-size: 15px;
  color: var(--color-text-white);
  font-weight: var(--font-medium);
  margin-top: 42px;
  margin-bottom: 32px;
}

.more-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.more-info__link {
  font-family: var(--font-logo);
  font-size: 20px;
  color: var(--color-light-blue-4);
}
.more-info__arrow {
  height: 20px;
  fill: var(--color-light-blue-4);
}
.more-info:hover > .more-info__link {
  color: var(--color-light-blue-2);
}
.more-info:hover > .more-info__arrow {
  fill: var(--color-light-blue-2);
}

.top-description__img {
  width: 690px;
  height: 550px;
}

/** ANIMATED ATOM SECTION */

.animated-atom__wrapper {
  background-color: var(--bg-color-dark-purple);
}

.animated-atom__container {
  display: flex;
  justify-content: center;
  gap: 250px;
}

.animated-atom__img__wrapper {
  align-self: center;
}

.animated-atom__description-block {
  width: 500px;
}

.animated-atom__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 42px;
  margin-bottom: 32px;
}

.animated-atom__description-row {
  font-family: var(--font-logo);
  font-size: 15px;
  color: var(--color-text-white);
  font-weight: var(--font-light);
}

.description-row_bold {
  font-weight: var(--font-medium);
}

/** Gallery */

.gallery {
  background-color: var(--bg-color-dark-purple);
}

.gallery__preview {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}

.preview__wrapper {
  position: relative;
  width: 240px;
  height: 320px;
}

.preview__img {
  width: inherit;
  height: inherit;
}

.preview-img__overlay {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #00000060;
  background-color: var(--overlay-color);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity 0.3s;
}

.preview__wrapper:hover > .preview-img__overlay {
  opacity: 1;
}
.preview-img__overlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
}

.preview-img__overlay:hover > * {
  transform: translateY(0);
}

.preview__img__title {
  font-family: var(--font-logo);
  font-size: 24px;
  font-weight: var(--font-medium);
  color: var(--color-text-white);
}
.preview__img__description {
  font-family: var(--font-logo);
  font-size: 12px;
  font-weight: var(--font-light);
  color: var(--color-text-white);
  padding: 0 20px;
  text-align: justify;
}


/** SLIDER */

.slider {
  background-color: var(--bg-color-dark-purple);
  padding: 30px 0;
}

.slider__container {
  width: 1440px;
  height: 480px;
  padding: 0;
}

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 50px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider__img-container {
  display: flex;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
  overflow: hidden;
}

.slide-left {
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to right, var(--bg-color-dark-purple) 0%, transparent 80%);
}

.slide-right {
  top: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(to left, var(--bg-color-dark-purple) 0%, transparent 80%);
}

.slider-controls__icon {
  width: 30px;
  height: 39px;
  transition: all 0.3s ease;
  fill: transparent;
  cursor: pointer;
}

.slider__container:hover .slider-controls__icon {
  fill: var(--color-soft-white)
}

.slide-left:hover {
  background: linear-gradient(to right, var(--bg-color-dark-purple) 0%, transparent 100%) ;
}
.slide-right:hover {
  background: linear-gradient(to left, var(--bg-color-dark-purple) 0%, transparent 100%) ;
}

.slider-controls:hover .slider-controls__icon {
  fill: var(--color-white);
}

/** CONTACTS*/

.contacts {
  background-color: var(--bg-color-dark-purple);
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.contacts__list__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.contact-form__field-wrapper {
  position: relative;
}

.contact-form__label {
  position: absolute;
  left: 0px;
  font-family: var(--font-logo);
  font-size: 15px;
  color: #979797;
  transition: all 0.3s ease;
  transform: translate(15px, 10px);
  padding: 2px 10px;
}

.label-star {
  font-size: 10px;
}

.contact-form__input,
.contact-form__textarea {
  font-family: var(--font-logo);
  font-size: 15px;
  width: 450px;
  padding-left: 20px;
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  color: var(--color-gray);
  background-color: var(--overlay-color); 
  transition: all 0.3s ease;backdrop-filter: blur(2px);
  outline: none; 
  position: relative;
  cursor: text;
}

.contact-form__input {
  height: 50px;
  line-height: 45px;
}

.contact-form__textarea {
  height: 150px;
  resize: none;
  line-height: 20px;
  padding-top: 15px;
}

.contact-form__input:hover ~ .contact-form__label,
.contact-form__textarea:hover ~ .contact-form__label {
  color: var(--color-light-blue-2);
}

.contact-form__input:focus,
.contact-form__textarea:focus,
.contact-form__input:valid,
.contact-form__textarea:valid,
.contact-form__input:not(:placeholder-shown).contact-form__input:not(:focus),
.contact-form__textarea:not(:placeholder-shown).contact-form__input:not(:focus) {
  color: var(--color-text-white);
  background-color: var(--bg-color-dark-purple);
  border-color: var(--color-light-blue-2);
  outline: none;

}
.contact-form__input:focus ~ .contact-form__label,
.contact-form__textarea:focus ~ .contact-form__label,
.contact-form__input:valid ~ .contact-form__label,
.contact-form__textarea:valid ~ .contact-form__label,
.contact-form__input:not(:placeholder-shown).contact-form__input:not(:focus) ~ .contact-form__label,
.contact-form__textarea:not(:placeholder-shown).contact-form__input:not(:focus) ~ .contact-form__label {
  font-size: 12px;
  color: var(--color-light-blue-2);
  transform: translate(-10px, -8px);
  background-color: var(--bg-color-dark-purple);
  border-radius: 5px;
}

.contact-form__input:focus ~ .contact-form__label > .label-star,
.contact-form__textarea:focus ~ .contact-form__label > .label-star,
.contact-form__input:valid ~ .contact-form__label > .label-star,
.contact-form__textarea:valid ~ .contact-form__label > .label-star,
.contact-form__input:not(:placeholder-shown).contact-form__input:not(:focus) ~ .contact-form__label > .label-star,
.contact-form__textarea:not(:placeholder-shown).contact-form__input:not(:focus) ~ .contact-form__label > .label-star {
  font-size: 8px;
}

/* .contact-form__input:invalid ~ .contact-form__label,
.contact-form__textarea:invalid ~ .contact-form__label {
  color: red;
} */

.contact-form__send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 220px;
  font-family: var(--font-logo);
  font-size: 15px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--color-white);
  color: var(--bg-color-dark-purple);
}

.contact-form__send-button:hover {
  background-color: var(--color-light-blue-2);
}

.send-button__icon {
  height: 20px;
  margin-right: 5px;
}
/** FOOTER */

.footer {
  background-color: var(--bg-color-dark-purple);
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.socials__list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link__icon {
  height: 25px;
  width: 25px;
  fill: #ffffff;
}

.link__icon:hover {
  fill: var(--color-light-blue-2);
}

.footer__copyright {
  width: 100%;
  text-align: center;
  color: var(--color-text-white);
  font-family: var(--font-logo);
  font-size: 15px;
}